{% extends 'biblioteca/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="mt-4">
    <!-- Título principal de la página de inicio -->
    <h2>Bienvenido/a a la Pre-Entrega #3 de Christian Rocco</h2>
    
    <!-- Descripción sobre el propósito de la página -->
    <p>Esta página es parte de la pre-entrega para el curso de Python. Utiliza tecnologías como Django, Python, CSS, Bootstrap4 y bases de datos para gestionar libros, autores, categorías y préstamos.</p>
    
    <!-- Instrucciones para el usuario sobre las funcionalidades de la página -->
    <p>Puedes navegar por las secciones de Libros, Autores, Categorías y Préstamos para ver, crear, modificar y eliminar registros.</p>
</div>
{% endblock %}
